*.iml
.gradle
.git
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/app/.externalNativeBuild
/app/build
/room-release/build
/wcdb-release/build
.project
**/.settings/
/app/release/
/RobotWorkService/build/
gradle-wrapper.jar
